on: pull_request

jobs:
  test_comment_pr:
    name: (NRT) Comment PR
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Comment PR
        uses: ./
        with:
          message: |
            Current branch is `${{ github.head_ref }}`.
            _(execution **${{ github.run_id }}** / attempt **${{ github.run_attempt }}**)_
          comment_includes: Current branch
          reactions: eyes, rocket